<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from preclinic.dreamstechnologies.com/html/template/patient-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2024 14:29:48 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />
    <title>Preclinic - Medical & Hospital - Bootstrap 5 Admin Template</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css" />

    <link
      rel="stylesheet"
      href="/assets/plugins/simple-calendar/simple-calendar.css"
    />

    <link
      rel="stylesheet"
      href="/assets/plugins/datatables/datatables.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/plugins/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/plugins/slick/slick-theme.css"
    />

    <link rel="stylesheet" href="/assets/css/feather.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <style>
      .sidebar-inner {
        height: 100%;
        overflow-y: auto;
      }

      .sidebar-menu {
        padding: 0;
      }

      #sidebarCarousel {
        height: 650px;
      }

      #sidebarCarousel .carousel-inner {
        height: 100%;
      }

      #sidebarCarousel .carousel-item {
        height: 100%;
      }

      #sidebarCarousel .carousel-item img {
        height: 100%;
        width: auto;
      }
      .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  
}

.carousel-caption h5 {
  margin-bottom: 0;
  font-weight: bold;
}
    </style>
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHlua9DmM/"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="index.html" class="logo">
            <img src="/assets/img/logo.png" width="35" height="35" alt />
            <span>Pre Clinic</span>
          </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"
          ><img src="/assets/img/icons/bar-icon.svg" alt
        /></a>
        <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"
          ><img src="/assets/img/icons/bar-icon.svg" alt
        /></a>
        <div class="top-nav-search mob-view">
          <form>
            <input type="text" class="form-control" placeholder="Search here" />
            <a class="btn"
              ><img src="/assets/img/icons/search-normal.svg" alt
            /></a>
          </form>
        </div>
        <ul class="nav user-menu float-end">
          <li class="nav-item dropdown d-none d-md-block">
            <a
              href="#"
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown"
              ><img src="/assets/img/icons/note-icon-02.svg" alt /><span
                class="pulse"
              ></span>
            </a>
            <div class="dropdown-menu notifications">
              <div class="topnav-dropdown-header">
                <span>Notifications</span>
              </div>
              <div class="drop-scroll">
                <ul class="notification-list">
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media">
                        <span class="avatar">
                          <img
                            alt="John Doe"
                            src="/assets/img/user.jpg"
                            class="img-fluid"
                          />
                        </span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">John Doe</span> added new
                            task
                            <span class="noti-title"
                              >Patient appointment booking</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">4 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media">
                        <span class="avatar">V</span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Tarah Shropshire</span>
                            changed the task name
                            <span class="noti-title"
                              >Appointment booking with payment gateway</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">6 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media">
                        <span class="avatar">L</span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Misty Tison</span> added
                            <span class="noti-title">Domenic Houston</span> and
                            <span class="noti-title">Claire Mapes</span> to
                            project
                            <span class="noti-title"
                              >Doctor available module</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">8 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media">
                        <span class="avatar">G</span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Rolland Webber</span>
                            completed task
                            <span class="noti-title"
                              >Patient and Doctor video conferencing</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">12 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media">
                        <span class="avatar">V</span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Bernardo Galaviz</span>
                            added new task
                            <span class="noti-title">Private chat module</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">2 days ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="topnav-dropdown-footer">
                <a href="activities.html">View all Notifications</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-md-block">
            <a
              href="javascript:void(0);"
              id="open_msg_box"
              class="hasnotifications nav-link"
              ><img src="/assets/img/icons/note-icon-01.svg" alt /><span
                class="pulse"
              ></span>
            </a>
          </li>
          <li class="nav-item dropdown has-arrow user-profile-list">
            <a
              href="#"
              class="dropdown-toggle nav-link user-link"
              data-bs-toggle="dropdown"
            >
              <div class="user-names">
                <h5>Liam Michael</h5>
                <span>Admin</span>
              </div>
              <span class="user-img">
                <img src="/assets/img/user-06.jpg" alt="Admin" />
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="profile.html">My Profile</a>
              <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
              <a class="dropdown-item" href="settings.html">Settings</a>
              <a class="dropdown-item" href="login.html">Logout</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="settings.html" class="hasnotifications nav-link"
              ><img src="/assets/img/icons/setting-icon-01.svg" alt />
            </a>
          </li>
        </ul>
        <div class="dropdown mobile-user-menu float-end">
          <a
            href="#"
            class="dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa-solid fa-ellipsis-vertical"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
            <a class="dropdown-item" href="settings.html">Settings</a>
            <a class="dropdown-item" href="login.html">Logout</a>
          </div>
        </div>
      </div>
      <div class="sidebar" id="sidebar" style="background-image: url('https://images.pexels.com/photos/5452231/pexels-photo-5452231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; display: flex; align-items: center; justify-content: center;">
        <div class="sidebar-inner slimscroll text-center" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
          <div class="carousel-caption d-none d-md-block" style="position: relative; bottom: 80px; left: 10px; right: 0; padding: 2rem 1rem;; background-color: rgba(255, 0, 0, 0); color: #fff;">
            <h5 style="margin-bottom: 210px; color: #2E37A4; font-size: 30px;">Med<span style="color: green;">ease</span> </h5>
            <p style="margin: 0 auto;padding-top: 10px; ">"Your Trusted Companion on the Path to Wellness, Offering Compassionate Guidance and Seamless Solutions for Effortless Healthcare Access and Healing Every Step of the Way."</p>
          </div>
          
        </div>
      </div>
      <div class="page-wrapper">
        <div class="content">
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Dashboard </a>
                  </li>
                  <li class="breadcrumb-item">
                    <i class="feather-chevron-right"></i>
                  </li>
                  <li class="breadcrumb-item active">Patient Dashboard</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="good-morning-blk">
            <div class="row">
              <div class="col-md-6">
                <div class="morning-user">
                  <h2>Good Morning, <span>Williams Sarah</span></h2>
                  <p>Have a nice day at work</p>
                </div>
              </div>
              <div class="col-md-6 position-blk">
                <div class="morning-img">
                  <img src="/assets/img/morning-img-03.png" alt />
                </div>
              </div>
            </div>
          </div>
          <!-- carosal -->
          <div class="good-morning-blk">
            <div class="row carousel-inner">
                
              <div class="col-md-6 carousel-item active">
                <div class="morning-img">
                  <img src="/assets/img/morning-img-01.png" alt />
                 
                </div>
              </div>
              <div class="col-md-6 carousel-item">
                <div class="morning-img">
                  <img src="/assets/img/morning-img-02.png" alt />
                </div>
              </div>
              <div class="col-md-6 carousel-item">
                <div class="morning-img">
                  <img src="/assets/img/morning-img-03.png" alt />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 col-xl-3 d-flex">
              <div class="card report-blk">
                <div class="card-body">
                  <div class="report-head">
                    <h4>
                        <a href="/page1" style="text-decoration: none;">
                      <img
                      style="height: 80px;width: 80px;"
                        src="https://as1.ftcdn.net/v2/jpg/01/62/59/04/1000_F_162590462_StuNG5boff6MVrZOCmbnDv8HPNfITqZl.jpg"
                        class="me-2"
                        alt
                      />Consult Doctors</a>
                    </h4>
                  </div>
                  <div id="heart-rate"></div>
                  <div class="dash-content " style="text-align: center;">
                    <!-- <h5>110 <span>bpm</span></h5> -->
                    <hr>
                    <p>
                        <a href="/page1"><span class="passive-view"
                            ><i class="feather-arrow-up-right me-1"></i>Find Nearest Doctor</span
                          ></a>
                      
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-3 d-flex">
                <div class="card report-blk">
                    <div class="card-body">
                      <div class="report-head">
                        <h4>
                            <a href="/page2" style="text-decoration: none;">
                          <img
                          style="height: 50px;width: 50px; margin: 10px; "
                            src="https://clipart-library.com/images/KLTdBMji4.jpg"
                            class="me-2"
                            alt
                          />Prescription Assist</a>
                        </h4>
                      </div>
                      <div id="heart-rate"></div>
                      <div class="dash-content " style="text-align: center;">
                        <!-- <h5>110 <span>bpm</span></h5> -->
                        <hr>
                        <p>
                            <a href="page2" style="text-decoration: none;">

                          <span class="passive-view"
                            ><i class="feather-arrow-up-right me-1"></i>Understand Your Prescription for Free </span
                          >
                        </a>
                          
                        </p>
                      </div>
                    </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-3 d-flex">
              <div class="card report-blk">
                <div class="card-body">
                  <div class="report-head">
                    <h4>
                        <a href="/page3" style="text-decoration: none;">
                      <img
                      style="margin: 5px; height: 50px; width: 50px;"
                        src="https://www.pngitem.com/pimgs/m/473-4734137_schedule-your-appointment-icon-hd-png-download.png"
                        class="me-2"
                        alt
                      />Book an Appoinment
                    </a>
                    </h4>
                  </div>
                  <div id="pressure-chart"></div>
                  <div class="dash-content">
                    <hr>
                    <p>
                        <a href="page3" style="text-decoration: none;">

                            <span class="passive-view" style="text-align: center;"
                              ><i class="feather-arrow-up-right me-1"></i>Book Anytime, Anywhere Online and Offline </span
                            >
                          </a>
                     
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 ">
              <div class="card report-blk">
                <div class="card-body">
                  <div class="report-head">
                    <h4>
                        <a href="/page4" style="text-decoration: none;">
                      <img
                      style="margin: 10px;"
                        src="https://i.pinimg.com/564x/d1/dd/88/d1dd8891a037a9bfd4d4f615e6cabd53.jpg"
                        class="me-2"
                        alt
                      />E-pharma</a>
                    </h4>
                  </div>
                  <div id="sleep-chart"></div>
                  <div class="dash-content">
                    <!-- <h5>7<span>h</span> 30 <span>m</span></h5> -->
                    <hr>
                    <p>
                        <a href="/page4" style="text-decoration: none;">

                            <span class="passive-view"
                              ><i class="feather-arrow-up-right me-1"></i>Get Your Meds, Effortlessly, Right to Your Door! </span
                            >
                          </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-xl-12">
              <div class="row">
                <div class="col-12 col-md-6 col-xl-6 d-flex">
                    <div class="card wallet-widget general-health d-flex align-items-center">
                        <div class="circle-bar circle-bar2" >
                            <div class="circle-graph2" data-percent="66" >
                                <b>
                                    <img style="height: 100px;"  src="https://www.shutterstock.com/shutterstock/videos/3420913371/thumb/12.jpg?ip=x480" alt />
                                </b>
                            </div>
                        </div>
                        <div class="main-limit ms-3 " >
                            <p>Not Feeling Well? </p>
                            <p>Unsure Whom to Consult?</p>
                            <div class="d-flex align-items-center"style="margin-left: 10px;"  >
                                <h6> <span style=color:#00D3C7 ;>Consult a General Physician Instantly</span> !!! </h6>
                               
                                <div class="income-value ms-3">
                                    
                                    <p>
                                        
                                        <span class="passive-view">
                                          
                                        </span>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                 
                <div class="col-12 col-md-6 col-xl-6" >
                    <div class="card wallet-widget general-health d-flex align-items-center" style="height: 200px;">
                        <div class="circle-bar circle-bar2">
                            <div class="circle-graph2" data-percent="66">
                                <b>
                                    <img height="180px" src="https://img.freepik.com/premium-vector/health-support-icon_194117-82.jpg" alt />
                                </b>
                            </div>
                        </div>
                        <div class="main-limit ms-3">
                            <p style="font-size: 15px;" >Upgrade to </p>
                            <div class="d-flex align-items-center">
                                <h4>MedPlus</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
                

                
              </div>
            </div>
            
        </div>
        <div class="notification-box">
          <div class="msg-sidebar notifications msg-noti">
            <div class="topnav-dropdown-header">
              <span>Messages</span>
            </div>
            <div class="drop-scroll msg-list-scroll" id="msg_list">
              <ul class="list-box">
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Richard Miles </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item new-message">
                      <div class="list-left">
                        <span class="avatar">J</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">John Doe</span>
                        <span class="message-time">1 Aug</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Tarah Shropshire </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Mike Litorus</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Catherine Manseau </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">D</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Domenic Houston </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">B</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Buster Wigton </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Rolland Webber </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Claire Mapes </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Melita Faucher</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">J</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Jeffery Lalor</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">L</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Loren Gatlin</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Tarah Shropshire</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content"
                          >Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="topnav-dropdown-footer">
              <a href="chat.html">See all messages</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-overlay" data-reff></div>

    <script
      src="/assets/js/jquery-3.7.1.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/bootstrap.bundle.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/feather.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/jquery.slimscroll.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/select2.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/plugins/datatables/jquery.dataTables.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>
    <script
      src="/assets/plugins/datatables/datatables.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/plugins/simple-calendar/jquery.simple-calendar.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>
    <script
      src="/assets/js/calander.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/plugins/apexchart/apexcharts.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>
    <script
      src="/assets/plugins/apexchart/chart-data.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/circle-progress.min.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/plugins/slick/slick.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>

    <script
      src="/assets/js/app.js"
      type="d2fd41e3bd242661d741f2b7-text/javascript"
    ></script>
    <script
      src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="d2fd41e3bd242661d741f2b7-|49"
      defer
    ></script>
    <script>
      $(document).ready(function () {
        $("#sidebarCarousel").carousel({
          interval: 3000,
          pause: "hover",
        });
      });
    </script>
  </body>

  <!-- Mirrored from preclinic.dreamstechnologies.com/html/template/patient-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2024 14:30:53 GMT -->
</html>
